/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Blog Section Styles */
main{
    background-color: #00695cf0;
}
.blog {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #00695c;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.blog h1 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
}

.blog-post {
    background-color: #caf5f1e6;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.blog-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.blog-post h2 {
    font-size: 22px;
    color: #00796b;
}

.blog-post p {
    color: #555;
    margin: 10px 0;
}

.read-more {
    background-color: #00796b;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.read-more:hover {
    background-color: #004d40;
}
